@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500&display=swap');

body {
  font-family: Roboto;
  background-color: rgb(247, 247, 247);
  margin: 0px;
}

p {
  margin: 0px;
}

input {
  height: 30px;
  padding: 8px;
  font-size: 1em;
  border: solid 1px rgb(211, 211, 211);
  border-radius: 4px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  box-shadow: 2px 2px 16px rgba(0,0,0,0.1);
  padding: 0px 20px;
  position: sticky;
  top:0;
  z-index: 999;
  background-color: white;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 40px;
  padding: 20px;
  height: calc(100vh - 90px);
}

.nav {
  display: none;
  justify-content: space-around;
  align-items: center;
  column-gap: 10px;
}

.btn {
  background-color: #00355F;
  color: white;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  padding: 8px;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  width: 70px;
  cursor: pointer;
}

.btn.inactive {
  background-color: #cccccc;
  color: black;
}

label, .semi-bold {
  font-weight: 500;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.card {
  border: solid 1x grey;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  background-color: white;
  padding: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container.inactive {
  display: none;
}

.labelled-input {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 20px;
}

#pricing {
  text-align: center;
  font-size: 2.5em;
  font-family: Poppins;
  font-weight: 700;
  color: #E28500;
}

#pricing.error {
  font-size: 1em;
  font-family: Roboto;
  font-weight: normal;
  margin-top: 10px;
  color: red;
}

.text-center {
  text-align: center;
}

@media (max-width: 650px) {
  .content {
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding: 20px;
    /* height: calc(100vh - 90px); */
  }
  .container {
    height: calc(100dvh - 90px);
  }
  .container-title {
    font-size: 1.3em;
  }
  .nav {
    display: flex;
  }
}

#map {
  /* height: calc(100vh - 80px); */
  height: 100%;
}

#chuck {
  font-size: 0.6em;
  color: gray;
  margin-top: 20px;
}

.results-details ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.results-details i {
  margin-right: 12px;
  background-color: rgb(241, 241, 241);
  padding: 6px;
  width: 16px;
  border-radius: 4px;
  text-align: center;
}

.results-details li {
  margin: 12px 0px;
}
